body {
  font-size: 14px;
  --table-width: 100%; /* Or any value, this will change dinamically */
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 168, 168);
}
/* logo */
.img-logo {
  height: 60px;
  padding: 0 30px;
}
.img-logo-brand,
.img-logo-brand-mini {
  height: 40px;
}
.img-logo-brand img,
.img-logo-brand-mini img {
  height: 100%;
}
.img-logo img {
  height: 100%;
}
.img-logo-brand-mini {
  display: none;
}
.bg-gradient-primary {
  background: #eee url(../images/bg.jpg) no-repeat top center;
  background-size: cover;
}
.bg-box {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border: none;
}
.name-project {
  font-size: 22px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  color: #104793;
  padding-right: 20px;
  border-right: 1px solid #eee;
  margin: 0px;
}
/* sidebar */
.sidebar {
  background-color: #fff;
  border-right: 1px solid #eee;
}
.sidebar.toggled .img-logo-brand {
  display: none;
}
.sidebar.toggled .img-logo-brand-mini {
  display: block;
}
.sidebar .nav-item {
  min-height: 44px;
}
.show {
  display: block;
}
.sidebar .nav-item .nav-link:hover {
  cursor: pointer;
  color: #0854a7;
}
.sidebar .nav-item .nav-link {
  height: 44px;
  width: 100% !important;
  display: flex;
  align-items: center;
  color: #555;
}
.sidebar .nav-item .nav-link i {
  margin-right: 10px;
}
.sidebar .nav-item:last-child {
  margin-bottom: 0px !important;
}
.sidebar .nav-item .nav-link span {
  font-size: 12px !important;
}
.sidebar-dark .nav-item .nav-link i,
.sidebar.toggled .nav-item .nav-link i {
  margin-right: 10px;
}
.sidebar.toggled .nav-item .nav-link {
  text-align: left;
  width: 200px !important;
}
.sidebar #sidebarToggle {
  margin-top: 20px;
}
.topbar .dropdown-list .dropdown-header {
  background: #0855a7;
}
.info-user {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
}
.info-user span:nth-child(3) {
  font-weight: bold;
}
/* button */
.btn-border {
  border: 1px solid #eee;
}
.box-btn {
  display: flex;
  justify-content: flex-end;
}
.box-btn .btn-group {
  margin-left: 10px;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.btn a:hover {
  color: #fff;
  text-decoration: none;
}
.box-detail {
  margin: 0;
  list-style: none;
  font-size: 12px;
  border-top: 1px solid #eee;
  padding: 10px 0px 0px 0px;
  margin-top: 10px;
  line-height: 1.7;
}
.topbar {
  background: #0855a7;
}
.modal-add {
  background: rgba(1, 1, 1, 0.5);
}
/* item */
.table {
  font-size: 14px;
  margin-bottom: 0px;
}
table .item {
  margin-bottom: 0px;
}
.table-bordered thead th {
  border: 1px solid #0855a7;
  vertical-align: middle !important;
}
thead {
  background: #5b8ec5;
  color: #fff;
}
thead .th-sm {
  padding: 5px 0.75rem;
}
.item {
  margin-bottom: 10px;
}
.item label {
  margin-bottom: 2px;
  font-size: 14px;
}
.dropdown-border .dropdown-toggle {
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  width: 100%;
  text-align: left;
  font-size: 14px;
  background: white;
}
.dropdown-border .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 17px;
  transition: all ease 0.5s;
}
.dropdown-border.show .dropdown-toggle::after {
  transform: rotate(180deg);
  transition: all ease 0.5s;
}
.dropdown-border .dropdown-menu li:first-child {
  border-top: 1px solid #eee;
}
.dropdown-border .dropdown-menu {
  width: 100%;
}
.dropdown-border .dropdown-menu li {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #eee;
}
.dropdown-border .dropdown-menu li:hover {
  background: #fafafa;
}
.dropdown-border .dropdown-menu li a {
  display: inline-block;
  width: 100%;
  padding: 0px 10px;
}
.dropdown-border .dropdown-menu li a:hover {
  text-decoration: none;
}
.form-control {
  font-size: 14px;
}
.input-group-them .dropdown {
  width: calc(100% - 75px);
}
.btn-them {
  margin-left: 5px;
  border-radius: 6px !important;
  width: 70px;
}
.btn-them:hover {
  opacity: 0.8;
}
.box-in-modal {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}
.box-in-modal .title {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  margin: 0px 0.75rem 0.75rem 0.75rem;
  font-weight: bold;
}
.modal-body-scroll {
  max-height: calc(100vh - 160px);
  overflow: auto;
}
/* card */
.card-header {
  background-color: #0855a7;
  color: #fff;
}
.selectpicker {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.selectpicker:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #bac8f3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(78 115 223 / 25%);
}
.sidebar hr.sidebar-divider {
  margin: 0px !important;
}
/* select */
/* .dropdown-menu {
    box-shadow: 1px 1px 5px #dfdfdf;
} */
.bootstrap-select {
  width: 100% !important;
}
.bs-searchbox {
  padding: 0px 10px 10px 10px !important;
}
.minW100 {
  min-width: 100px;
  min-height: 35px;
}

table {
  table-layout: fixed;
  overflow: auto;
}
.tb-sticky-last th:last-child,
.tb-sticky-last td:last-child {
  position: sticky;
  right: 0px;
  background: #e9f3ff;
}
.tb-sticky-last th:last-child {
  background: #4676b7;
}
.heading {
  display: block;
  text-align: left;
  padding: 1rem;
  width: calc(100% - 10px);
  background: #04306a;
  margin: 10px 5px 0px 5px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.table th,
.table td {
  vertical-align: middle;
}
.page-item.active .page-link {
  background-color: #0855a7;
  border-color: #0855a7;
}
/* menu */
.btn {
  font-size: 14px;
}
.menu-item .btn {
  width: 100%;
  text-align: left;
  font-size: 12px;
  color: #555;
  font-weight: bold;
  padding: 1rem;
  position: relative;
  background: #fafafa;
  border-radius: 0px;
}
.menu-item .btn::before {
  /* content: ""; */
  position: absolute;
  right: 1rem;
  top: 18px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  transition: all ease 0.3s;
}
.menu-item .btn.collapsed::before {
  content: "";
  position: absolute;
  right: 1rem;
  top: 22px;
  transform: rotateX(180deg);
  transition: all ease 0.3s;
}
.menu-item .btn:focus,
.menu-item .btn.focus {
  box-shadow: none;
}
.menu-item .btn:hover {
  cursor: auto !important;
}
.sub-menu {
  list-style: none;
  padding: 0;
  background: #fff;
}
.menu-item .sub-menu-box {
  margin: 0px !important;
  background: #0855a7;
}
.sub-menu-box .sub-menu .nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.sub-menu-box .sub-menu .nav-item:last-child {
  border-bottom: none;
}
.sub-menu .nav-link {
  padding: 0.5rem 1rem !important;
}
/* nav tab */
.nav-tabs .nav-link {
  font-weight: bold;
}
.tab-pane {
  padding: 10px;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0px 0px 6px 6px;
}
.modal.show {
  display: block;
}
.modal-header {
  background: #0855a7;
  color: #fff;
  align-items: center;
  padding: 0 0 0 1rem;
  height: 50px;
  position: relative;
}
.modal-title {
  font-size: 16px;
  font-weight: bold;
}
.modal-header .close {
  color: #fff;
  margin: 0px;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 0;
}
.border-b {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* timeline */
.timeline-steps {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}
.borderBox {
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}
@media (min-width: 768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #3b82f6;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  opacity: 0.5;
}

/* bootstrap-select */
.bootstrap-select .dropdown-toggle:focus {
  outline: 2px solid #0855a7 !important;
  outline-offset: 0px;
}
/* Transfer */

.moveall::after {
  content: attr(title);
}

.removeall::after {
  content: attr(title);
}

.form-control option {
  padding: 10px;
  border-bottom: 1px solid #efefef;
}
.box1,
.box2 {
  position: relative;
}
.box1 .info-container,
.box2 .info-container {
  position: absolute;
  right: 0;
  top: -0.5rem;
}
.box1 label,
.box2 label {
  font-weight: bold;
  color: #0855a7;
}
.box-filter button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frm-transfer .bs-placeholder,
.frm-transfer .dropdown-toggle.btn-light {
  display: none !important;
}
/* input group */
.input-group-search-all .dropdown {
  width: calc(100% - 45px);
}
.input-group-search-all .dropdown-toggle {
  border-radius: 6px 0px 0px 6px;
}
.input-group-search-all .btn-all {
  width: 46px;
  font-weight: bold;
}
@media (max-width: 750px) {
  .img-logo-brand {
    display: none;
  }
  .img-logo-brand-mini {
    display: block;
  }
  .sidebar .nav-item .nav-link {
    text-align: left;
    width: 200px !important;
  }
  .name-project {
    font-size: 12px;
  }
}
